.navBar {
  margin-left: 30px;
  font-weight: bolder;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

div.jumbotron {
  background: url('./images/creative-assortment-with-different-books.jpg');
  background-position: center center;
  background-size: cover;
  color: white;
  
  padding: 80px;
}

.searchInput {
  display:flex;
  justify-content:center;
  align-items: center;
  padding: 25px;
}
.search {
  text-align: center;
  display: block;
}


input.searchBar {
  display: block;
  width: 300px;
  border: 2px solid rgb(170, 137, 49);
  border-radius: 12px;
  
}

div.displayCard {
  display: flex;
  margin: 20px;
  border: 2px solid rgb(170, 137, 49);
  border-radius: 25px;
}
img.cardImage {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  padding-top: 10px;
}
.cardTitle {
  border-bottom: 2px solid rgb(170, 137, 49);
  font-weight: bold;
  
}
textarea{
  border: none;
  scroll-behavior: smooth;
  width: 100%;
  height: 200px;
  scrollbar-color: rgb(170, 137, 49);
}
 textarea::after{
   border: none;
 }